@font-face {
    font-family: "Vermin";
    src: url("/assets/fonts/vermin/vermin.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Slussen";
    src: url("/assets/fonts/slussen/thin.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Rader";
    src: url("/assets/fonts/rader/bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

.font-slussen {
    @apply uppercase leading-[116%] text-2xs;
}

.font-rader {
    @apply uppercase leading-[120%];
}

.font-vermin {
    @apply leading-[100%];
}